body {
    background-color: rgb(171, 104, 207);
}


.glavni:nth-of-type(1) {
    background-color: rgb(234, 246, 193);
    width: 300px;
    height: 520px;
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
    padding: 0px;
    text-align: left;
    font-size: 18px;
    overflow-y: scroll;

}

.glavni:nth-of-type(2) {
    background-color: rgb(234, 246, 193);
    width: 300px;
    height: 520px;
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    overflow-y: scroll
}

.glavni:nth-of-type(3) {
    background-color: rgb(234, 246, 193);
    width: 300px;
    height: 520px;
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 8px black;
    margin: 0 auto;
    padding: 0px;
    text-align: left;
    font-size: 18px;
    overflow-y: scroll
}

img {
    width: 300px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3 {
    text-align: center ;
}

#icon1 {
    /* padding-right: 10px; */
    padding: 7px 10px;
    color: rgb(219, 46, 43);
    font-size: 18px;
    text-shadow: 2px 2px 2px black; 
}

#icon2 {
    color: rgb(95, 95, 209);
    padding: 5px 11px;
    text-shadow: 2px 2px 2px black;
}

#icon3 {
    color: blue;
    padding: 5px 15px;
    text-shadow: 1px 1px 1px black;
}

#icon4 {
    color: rgb(88, 29, 29);
    padding: 5px 12px;
    text-shadow: 1px 1px 1px black;
}

#icon5 {
    color: green;
    padding: 2px 13px;
    text-shadow: 2px 2px 2px black;
}

p {
    padding: 0px 12px;
}

button {
    width: 125px;
    height: 25px;
    
}

.class {
    text-align: center;
    padding-bottom: 10px;
}

.glavni:nth-of-type(1):hover {
    background-color: rgb(215, 140, 133);
    color: rgb(31, 6, 53);
}

.glavni:nth-of-type(2):hover {
    background-color: rgb(173, 204, 218);
    color: rgb(47, 11, 81);
}

.glavni:nth-of-type(3):hover {
    background-color: rgb(215, 223, 104);
    color: rgb(47, 11, 81);
}

img:hover {
    content: url(./7TWsTwJAEhLhEGwnA44XMxllB8DqcVUy8wv2o4nj.jpg);
}

.glavni {
    display: inline-block;
}

